<!--
'Database Access Funtions Copyright (C) 2013 Alcatel·Lucent
'This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.
'This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
'You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<?xml version="1.0"?>
<!-- 
    Nota: en lugar de editar manualmente este archivo, puede usar la 
      herramienta Administración de sitios web para configurar las opciones de su aplicación. Use
    la opción Sitio web->Configuración de Asp.Net en Visual Studio.
    Encontrará la lista completa de opciones y comentarios en 
    machine.config.comments ubicado normalmente en 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
  <appSettings>
    <add key="wsEngService.ENGService" value="http://localhost:1248/Engine/ENGService.asmx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <!-- 
            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los 
            tipos de datos donde se pueda producir una pérdida de datos. 
            Establezca explicit="true" para forzar la declaración de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <!--
          La sección <authentication> habilita la configuración 
          del modo de autenticación de seguridad que usa 
          ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Windows"/>
    <!--
           La sección <customErrors> habilita la configuración de 
           las acciones que se deben realizar si un error no controlado tiene lugar
           durante la ejecución de una solicitud. En concreto, 
           permite a los desarrolladores configurar páginas de error html 
           que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
  </system.web>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>